

.Main-Class
{
    font-weight: bold;
    text-align: center;
   

    form
    {
        .method
        {
            margin-left: 10px;
            background-color: black;
            color: white;
            border-radius: 5px;
            border: 2px solid green;
        }

        .true
        {
            background-color: white;
            color: rgb(0, 56, 0);
        }
        margin-bottom: 20px;

       margin-top: 20px;
    }

    .User-Input
    {
        
        background-color: rgb(238, 238, 238);

        height: 200px;
        width: 30%;

        border: 2px solid rgba(0, 0, 0, 0.274);
        margin-left: 60px;
        margin-bottom: 20px;
        
        
    }

    p
    {
        padding: 20px;
        text-align: left;
    }

    .GO
    {
        background-color: black;
        color: rgb(10, 190, 49);
        margin-left: 10px;
        border: 2px solid black;
        border-radius: 5px;
    }
    .GO:hover
    {
        background-color: rgb(2, 68, 2);
        color: white;
    }
}