

.Main-Class
{
    font-weight: bold;
    text-align: center;
   

    form
    {
        .method
        {
            margin-left: 10px;
            
        }

        .true
        {
            background-color: white;
        }
        margin-bottom: 20px;

       
    }

    .User-Input
    {
        
        background-color: rgb(238, 238, 238);

        height: 200px;
        width: 30%;

        border: 2px solid rgba(0, 0, 0, 0.274);
        margin-left: 60px;
        margin-bottom: 20px;
        
        
    }

    p
    {
        padding: 20px;
        text-align: left;
    }
}